Source: node-grunt-legacy-log
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Sruthi Chandran <srud@disroot.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends:
 debhelper-compat (= 12)
 , nodejs
 , nodeunit <!nocheck>
 , node-colors (>= 1.0.3) <!nocheck>
 , node-hooker <!nocheck>
 , node-lodash (>= 3.10.1) <!nocheck>
 , node-underscore.string <!nocheck>
 , node-grunt-legacy-log-utils <!nocheck>
 , pkg-js-tools (>= 0.9.10~)
Standards-Version: 4.4.1
Vcs-Browser: https://salsa.debian.org/js-team/node-grunt-legacy-log
Vcs-Git: https://salsa.debian.org/js-team/node-grunt-legacy-log.git
Homepage: https://gruntjs.com/
Rules-Requires-Root: no

Package: node-grunt-legacy-log
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-colors (>= 1.0.3)
 , node-hooker
 , node-lodash (>= 3.10.1)
 , node-underscore.string
 , node-grunt-legacy-log-utils
Description: Grunt 0.4.x logger
 Node.js is an event-based server-side JavaScript engine.
